[core]
	editor = code --wait
	fsmonitor = true
	autocrlf = true
[sequence]
	editor = code --wait
[rebase]
	autoStash = true
	autoSquash = true
[alias]
	ca = commit --amend --no-edit
	co = checkout
	cp = cherry-pick
	fa = fetch --all -p
	lg = log --all --graph --pretty='👾 %C(magenta)%h %C(green)[%ar]%C(reset) %C(blue)(%al)%C(auto)% D 🔊 \"%C(default)%s\"'
	# → ｢｣ 🦄🦓🎲🚀💡📌❤️💛💚💬✔️🚈⭕🔴🤖🔘🔊🐔🔶🔥🏠⛪🌍💡🎄🌲🦋💧💊🌷🐞🐇🍓🐦🌹🚦👾🦖
	rb = rebase
	rf = lg --reflog
	rc = rebase --continue
	rs = restore --staged .
	st = status -s
	uc = reset HEAD^ --soft
	wt = worktree

	wip = !sh -c 'git add . && git commit -m "WIP"'
	fixup = commit --fixup
	unstash = stash pop
[pull]
	rebase = true
